$mini-width: 750px;
$sidebar-margin: 269px;
$anim-time: 0.3s;
$bg-light: #f3f3f3;
$bg-lighter: #e0e0e0;
$bg-lightest: #d0d0d0;
$bg-dark: #2E3133;
$bg-darker: #202024;
$bg-darkest: #000000;
$bg-black: #000000;
